body{
    margin:0
    background:liner-gradients(to right,#ff6aff,#ffe600,#919191)
    font-family:Arial,sans-serif;
    text-align:center;
}

.container{
    padding:30px;
}

.title{
    background:#ffffffcc;
    display:inline-black;
    padding:15px 25px;
    border: radius 10px;
    font-size:28px;
    margin-top:30px;
}

.intro-box{
    background:#ffffffcc;
    width:60%;
    margin:20px auto;
    padding:20px;
    border-radius:10px;
    line-height:1.5;
}

.sub-title{
    margin-top:30px;
    font-size:20px;
    font-weight: bold;
    color: #2a2a2a;
}

.dept-box{
    background:#ffffffcc;
    width:250px;
    margin:15px auto;
    padding:15px;
    border-radius:10px;
    text-align:left;
    box-shadow: 0px 0px 5px #00000030;
}

.button-area{
    margin-top: 20px;
}

.btn{
    text-decoration: none;
    background:#4f6cff;
    color:white;
    padding:10px 20px;
    margin:8px;
    border-radius: 6px;
    font-weight: bold;
}

.btn:hover{
    background: #233bff;
}

footer{
    margin-top:50px;
    padding:10px;
    color:#333;
    font-size: 14px;
    background: #ffffffcc;
}